.section_ButterChicken {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/public/images/butterChickenCurry.jpeg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
}